/*Udemy course 50 Projects In 50 Days - HTML, CSS & JavaScript*/

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/* In Suitedash the html font size is already being used by the platform, also it seems that the SD font size is not responsive, so wiring the padding and margin of element here to the html font-size would not adjust sizes of margin and padding anyway */
html {
  /* see note above root to learn why not use html to set application font-size */
  /* font-size: 62.5%; */
  /*this works out to be font-size:10px; on most browsers unless the default 16 px has been changed.*/ }

:root {
  /*default setting will no longer be changed by the javascript to match user settings/screen size rather the below media queries will*/
  /* this also defines what 1 rem is because in SD we need a workaround eaxample... calc(6 * var(--FS)); is equal to 6 rem in SD*/
  --FS: 10px; /*font size example: calc(1.6*var(--MS)) is 1.6 rem in SD (which is 16px)*/
  --MS: 10px; /*measurement size example: calc(6*var(--MS)) is 6 rem in SD*/
  --color-green: #338833;
  --color-lime: #20f242;
  --color-blue: #1d7ea0;
  --color-gray: #a9a9a9;
  }

/* #component-sound-board is used as body because sd has settings already on body so we call our development area #component-sound-board*/
#component-sound-board {
  background-color: #f6f7fb;
  font-family: "Poppins", serif; /*video 3 @ 4 min*/
  display: flex;  /*to center everything ...video 3 @ 5 min*/
  flex-wrap:wrap;
  align-items: center; /* this will center left to right (horizontaly) if flex-direction is set to column ...video 3 @ 5 min*/
  justify-content: center; /* to center content verticaly...body must have height on it for this to work ...video 3 @ 6 min*/
  text-align: center;
  height: 100vh; /* take up 100% of the veiwport height...video 3 @ 6 min*/
  overflow: hidden;/*set to hidded to prevent scroll bars to be shown by default...video 3 @ 6 min*/
  box-sizing: border-box;
  margin: 0; 
  Padding: 0;
  z-index:0;
  }

/* #component-sound-board children because sometimes inheritance isnt enough we need a higher specificity*/
#component-sound-board * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index:0;
  backface-visibility: hidden;}

/*settings to anticipate SD classes that may interfere with WE code*/
#component-sound-board .we-btn {}

#component-sound-board .we-card {}

#component-sound-board .we-col {}

#component-sound-board .we-composition{}

#component-sound-board .we-container{}

#component-sound-board .we-feature-box{}

#component-sound-board .we-footer{}

#component-sound-board .we-form{}

#component-sound-board .we-header{}

#component-sound-board .we-input{}

#component-sound-board .we-navigation{}

#component-sound-board .paragraph {font-size: calc(1.6 * var(--FS)); }
  
#component-sound-board .paragraph:not(:last-child) {margin-bottom: calc(3 * var(--MS)); }

#component-sound-board .we-popup{}

#component-sound-board .we-radiobox{}

#component-sound-board .we-row{}

#component-sound-board .we-section{}

/* below code to counteract either user agent or SD code */
#component-sound-board figure{}

#component-sound-board img{}

/* below code to counteract either user agent or SD code */
/* SD will rewrite the <i> to a <span> */
/* Keep close watch perhaps those tags need to be grouped below in the long list of elements or have their own rules applied */
#component-sound-board i{}

#component-sound-board span{}

/* below code to counteract either user agent or SD code */
#component-sound-board,
#component-sound-board address,
#component-sound-board main,
#component-sound-board section,
#component-sound-board header,
#component-sound-board footer,
#component-sound-board aside,
#component-sound-board article,
#component-sound-board pre,
#component-sound-board div,
#component-sound-board h1,
#component-sound-board h2,
#component-sound-board h3,
#component-sound-board h4,
#component-sound-board h5,
#component-sound-board h6,
#component-sound-board table,
#component-sound-board tbody,
#component-sound-board thead,
#component-sound-board tfoot,
#component-sound-board th,
#component-sound-board tr,
#component-sound-board td,
#component-sound-board ul,
#component-sound-board ol,
#component-sound-board li,
#component-sound-board blockquote,
#component-sound-board p,
#component-sound-board figure,
#component-sound-board figcaption {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: calc(1.6*var(--FS));/*16px*/
  line-height: 1.7;
  color: #131313; }

#component-sound-board h1{font-size: calc(3.4*var(--FS));font-weight: bold;line-height: 1;letter-spacing: -1px;margin: .67em 0;}
#component-sound-board h2{font-size: calc(3*var(--FS));font-weight: bold;line-height: 1.067;letter-spacing: -.8px;margin: .67em 0;}
#component-sound-board h3{font-size: calc(2.4*var(--FS));font-weight: bold;line-height: 1.083;letter-spacing: -.5px;margin: .67em 0;}
#component-sound-board h4{font-size: calc(2*var(--FS));font-weight: bold;line-height: 1.1;letter-spacing: -.4px;margin: .67em 0;}
#component-sound-board h5{font-size: calc(1.8*var(--FS));font-weight: bold;line-height: 1.111;letter-spacing: -.2px;margin: .67em 0;}
#component-sound-board h6{font-size: calc(1*var(--FS));font-weight: bold;line-height: 1.125;letter-spacing: -.1px;margin: .67em 0;}

/*below is the project specific code...Above is the SD-sandbox code*/
#component-sound-board .we-btn {
  background-color: rebeccapurple;
  border-radius: 5px;
  border:none;
  color:#fff;
  margin: calc(1 * var(--MS));
  padding: calc(2.4 * var(--MS)) calc(4.5 * var(--MS));
  font-size: calc(2 * var(--FS));
  cursor: pointer;
}

#component-sound-board .we-btn:hover {
  opacity: .9;
}

#component-sound-board .we-btn:focus {
  outline: none;
}

/* Media queries below */
@media (max-width: 1200px) { /*having control over font size and the measurement size in the agregate*/
  :root {
    --FS: 10px; 
    --MS: 10px; 
    } }
@media (max-width: 1100px) {/*having control over font size and the measurement size in the agregate*/
  :root {
    --FS: 10px; 
    --MS: 10px; 
    } }
@media (max-width: 1000px) {/*having control over font size and the measurement size in the agregate*/
  :root {
    --FS: 10px; 
    --MS: 10px; 
    } }
@media (max-width: 900px) {/*having control over font size and the measurement size in the agregate*/
  :root {
    --FS: 10px; 
    --MS: 10px; 
    } }
@media (max-width: 800px) {/*having control over font size and the measurement size in the agregate*/
  :root {
    --FS: 10px; 
    --MS: 10px; 
    } }
@media (max-width: 700px) {/*having control over font size and the measurement size in the agregate*/
  :root {
    --FS: 10px; 
    --MS: 10px; 
    } }
@media (max-width: 600px) {/*having control over font size and the measurement size in the agregate*/
  :root {
    --FS: 10px; 
    --MS: 10px; 
    } }
@media (max-width: 500px) {/*having control over font size and the measurement size in the agregate*/
  :root {
    --FS: 10px; 
    --MS: 10px; 
    } }
@media (max-width: 400px) {/*having control over font size and the measurement size in the agregate*/
  :root {
    --FS: 10px; 
    --MS: 10px; 
    } }
